<div class="container text-center">
    <img src="../../../assets/logo.jpg" height="120px" width="90px" alt="">
</div>

<div class="col-md-4 offset-md-4">

    <mat-card class="">
        <mat-card-content>
          <p>
              Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
          </p>
        </mat-card-content>
        <mat-card-actions class="text-center mt-2">
          <button class="text-center" mat-raised-button color="primary" routerLink="/login">Return to sign in</button>
        </mat-card-actions>
  </mat-card>
</div>
