<mat-sidenav-container class="sidenav-container sticky">

        <mat-action-list>

                <button mat-list-item routerLink="/admin"
                        class="mt-4"><mat-icon

                                mat-list-icon>home</mat-icon><span>Home</span></button>
                
                <button mat-list-item
                        routerLink="/admin/categories"
                        class="mt-2"><mat-icon

                                mat-list-icon>add_shopping_cart</mat-icon>Categories</button>
               
                <button mat-list-item
                        routerLink="/admin/quizzes"
                        class="mt-2"><mat-icon

                                mat-list-icon>quiz</mat-icon>Quizzes</button>
                <button mat-list-item
                        routerLink="/admin/users"
                        class="mt-2"><mat-icon

                                mat-list-icon>settings</mat-icon>Users</button>

                                <button mat-list-item
                                routerLink="/admin/pagination"
                                class="mt-2"><mat-icon
        
                                        mat-list-icon>table</mat-icon>Pagination</button>

        </mat-action-list>
</mat-sidenav-container>