<div class="bgImage container-fluid">
  <div class="card mt-2 bg-dark text-white">
    <img src="../../../assets/pexels-anna-shvets-5325054.jpg" class="card-img"
      height="600px" width="auto" alt="...">
    <div class="card-img-overlay mt-2">
      <div class="text">
        <h1 class="card-title">Conduct Online</h1>
        <h1 class="card-title abc">Exams for Free...</h1>
      </div>
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This content is a little bit
        longer.</p>
      <button class="btnca" mat-raised-button color="primary"
        routerLink="/signup"> CREATE ACCOUNT</button>
    </div>
  </div>
</div>

<div class="container text center mb-3">
  <h2 class="text-center">REVIEWS</h2>
  <h1 class="card-title2"> `Trusted by top Educational Institutes`</h1>
</div>

<hr>

<mat-card class="cardpp">
  <mat-card-content>
    <div class="container">

      <h1 class="text-center"></h1>

      <div class="row">
        <div class="col-md-4 mt-5">
          <!-- image -->
          <img src="../../../assets/pexels-guilherme-rossi-1755685.jpg"
            class="profile-image" alt="">

        </div>

        <div class="col-md-8">
          <!-- data -->
          <header class="header">
            <h1 style="font-size: 35px;">ExamPortal is built for</h1>
            <h3>All Educational Institutes and Corporates </h3>
          </header>

          <div class="container mt-5">
            <div class="row">
              <div class="col">
                <mat-icon mat-list-icon>book</mat-icon> <h2>Coaching Classes</h2>
                <h3>Coaching classes conducting weekly tests for students
                  preparing for competetive exams like JEE, NEET, CET etc.,</h3>
              </div>
              <div class="col">
                <mat-icon mat-list-icon>school</mat-icon> <h2>School</h2>
                <h3>High schools conducting regular MCQ evaluations with an
                  option for a proctored exam environment</h3>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <mat-icon mat-list-icon>office</mat-icon> <h2>carporates</h2>
                <h3>Corporates conducting screening exams for job applications
                  can easily conduct online exams and immediately receive
                  results & analytics</h3>
              </div>
              <div class="col">
                <mat-icon mat-list-icon>college</mat-icon> <h2>Colleges</h2>
                <h3>Colleges & Universities conducting MCQ or Numeric
                  evaluations with an optional proctored exam environment</h3>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Second card -->

<mat-card class="cardpp mt-5">
  <mat-card-content>
    <div class="container">

      <h1 class="text-center"></h1>

      <div class="row">

        <div class="col-md-8">
          <!-- data -->
          <header class="header">
            <h1 style="font-size: 35px;">How ExamPortal Works</h1>
            <h3>Typical Workflow for conducting online exams </h3>
          </header>

          <div class="container mt-5">
            <div class="row">
              <div class="col">
                <mat-icon mat-list-icon>book</mat-icon> <h2>Get your Portal</h2>
                <h3>Your own customized EZexam portal at your-name.ezexam.in
                  with your logo and colors, where your Admins and test-takers
                  will login</h3>
              </div>
              <div class="col">
                <mat-icon mat-list-icon>school</mat-icon> <h2>Add your Content</h2>
                <h3>Easily add and edit Question Papers, create Online Exams,
                  optionally create test-taker accounts to faciliate conducting
                  online exams</h3>
              </div>
              <div class="w-100"></div>
              <div class="col">
                <mat-icon mat-list-icon>office</mat-icon> <h2>Conduct Online
                  Exams</h2>
                <h3>Schedule exams and monitor them in realtime to see how many
                  and who is taking the exam with various other metrics</h3>
              </div>
              <div class="col">
                <mat-icon mat-list-icon>college</mat-icon> <h2>View Results &
                  Analytics</h2>
                <h3>After exam window is closed, scores and analytics for all
                  test-takers are visible to the Admin & test-takers</h3>
              </div>
            </div>
          </div>


        </div>


        <div class="col-md-4 mt-5">
          <!-- image -->
          <img src="../../../assets/second.png" class="profile-image" alt="">
        </div>


      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- Footer -->
<div class="container-fluid text-center">
  <mat-card class="text-center">
      <img src="../../../assets/facebook.png"  height="20px" width="20px"  class="imgf" alt="">
      <img src="../../../assets/instagram.png"  height="20px" width="20px" class="imgf" alt="">
      <img src="../../../assets/twitter.png" height="20px" width="20px"  class="imgf" alt="">
  
  </mat-card>
</div>
